body{
    background: linear-gradient(to left,rgb(79, 211, 255),royalblue,rgb(100, 7, 177) 100%) fixed;
}
.heading{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: rgb(168, 233, 64);
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
    background-color: aliceblue;
}
#list{
    width: 100%;
}
th{
    background-color: #f1f1f1;
}